<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "{{ site.title | escape }}",
  "description": "{{ site.description | escape }}",
  "applicationCategory": "Discord Bot",
  "operatingSystem": "Discord",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "author": {
    "@type": "Organization",
    "name": "{{ site.author | default: site.title | escape }}"
  },
  "url": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
  "sameAs": [
    "https://github.com/p2xai/gronka"
  ]
}
</script>

